In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

## Data Preparation

In [3]:
df = pd.read_csv("dataset.csv")
SizeDF = len(df)
SizeDF

7043

In [4]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [5]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [6]:
df.gender.str.lower().str.replace(' ', '_')

0       female
1         male
2         male
3         male
4       female
         ...
7038      male
7039    female
7040    female
7041      male
7042      male
Name: gender, Length: 7043, dtype: object

In [7]:
ColsValsToModify = list(df.dtypes[df.dtypes == 'object'].index)
for c in ColsValsToModify:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [9]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [10]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [11]:
df.totalcharges

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: totalcharges, Length: 7043, dtype: object

In [12]:
TC = pd.to_numeric(df.totalcharges, errors="coerce")
TC

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: totalcharges, Length: 7043, dtype: float64

In [13]:
df[["customerid", "totalcharges"]][TC.isnull()]

      customerid totalcharges
488   4472-lvygi            _
753   3115-czmzd            _
936   5709-lvoeq            _
1082  4367-nuyao            _
1340  1371-dwpaz            _
3331  7644-omvmy            _
3826  3213-vvolg            _
4380  2520-sgtta            _
5218  2923-arzlg            _
6670  4075-wkniu            _
6754  2775-sefee            _

In [14]:
df.totalcharges = pd.to_numeric(df.totalcharges, errors = "coerce")

In [15]:
df.totalcharges = df.totalcharges.fillna(0)

In [16]:
df.totalcharges.dtypes

dtype('float64')

In [17]:
df.totalcharges.isnull().sum()

np.int64(0)

In [18]:
df.churn = (df.churn == 'yes').astype(int)

In [19]:
df[['totalcharges', 'churn']].head(8)

   totalcharges  churn
0         29.85      0
1       1889.50      0
2        108.15      1
3       1840.75      0
4        151.65      1
5        820.50      1
6       1949.40      0
7        301.90      0

In [20]:
df.head(5).T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,0,0,1,0,1

In [21]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

## Set up validation framework

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
FullTrainDF, TestDF = train_test_split(df, test_size=0.2, random_state=1)

In [24]:
len(FullTrainDF) + len(TestDF) == SizeDF

True

In [25]:
# the test_size is 0.25 here instead of 0.2 since 20% of the full dataset (df) is 25% of 80% of the dataset (FullTrainDF)
TrainDF, ValDF = train_test_split(FullTrainDF, test_size=0.25, random_state=1)

In [26]:
len(TrainDF), len(ValDF), len(TestDF)

(4225, 1409, 1409)

In [27]:
len(TrainDF) + len(ValDF) + len(TestDF) == SizeDF

True

In [28]:
# since the indices were shuffled, you can either reset them to make it ordered or delete them as well, doesn't matter
TrainDF = TrainDF.reset_index(drop=True)
ValDF = ValDF.reset_index(drop=True)
TestDF = TestDF.reset_index(drop=True)

In [29]:
TrainDF.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,8015-ihcgw,female,0,yes,yes,72,yes,yes,fiber_optic,yes,...,yes,yes,yes,yes,two_year,yes,electronic_check,115.50,8425.15,0
1,1960-uycnn,male,0,no,no,10,yes,yes,fiber_optic,no,...,yes,no,no,yes,month-to-month,yes,electronic_check,95.25,1021.55,0
2,9250-wypll,female,0,no,no,5,yes,yes,fiber_optic,no,...,no,no,no,no,month-to-month,no,electronic_check,75.55,413.65,1
3,6786-obwqr,female,0,yes,yes,5,yes,no,fiber_optic,no,...,no,no,yes,no,month-to-month,yes,electronic_check,80.85,356.10,0
4,1328-euzhc,female,0,yes,no,18,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,20.10,370.50,0

In [30]:
# storing y values as numpy array values
yTrain = TrainDF.churn.values
yVal = ValDF.churn.values
yTest = TestDF.churn.values

# deleting y values from dataset
del TrainDF['churn']
del ValDF['churn']
del TestDF['churn']

In [31]:
# validating deletion of 'y value' column
"churn" in TrainDF, "churn" in ValDF, "churn" in TestDF

(False, False, False)

## EDA

In [32]:
FullTrainDF = FullTrainDF.reset_index(drop=True)

In [33]:
# checking for any null values in the dataset
FullTrainDF.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [34]:
# checking churn rate (i.e rate of counts of 1 in the datset)
GlobChurnRate = FullTrainDF['churn'].value_counts(normalize=True)[1]
# GlobChurnRate = FullTrainDF.churn.mean()
# can also be checked using mean of the value since it only returns number of 1s

In [35]:
print("Global churn rate:", round(GlobChurnRate, 2))

Global churn rate: 0.27

In [36]:
FullTrainDF.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [37]:
# numerical value columns
NumValues = ["tenure", "monthlycharges", "totalcharges"]

In [38]:
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [39]:
# categorical value columns
CategoricalValues = ['gender', 'seniorcitizen', 'partner', 'dependents',
       'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']

In [40]:
# no. of unique values in each categorical column
FullTrainDF[CategoricalValues].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

## Feature importance: Churn rate and risk ratio

In [42]:
# viewing churn rate for a particular variable
FullTrainDF[FullTrainDF.gender == 'female'].churn.mean()

np.float64(0.27682403433476394)

In [55]:
# viewing the churn rate, difference and ratio for gender column
GroupDFGender = FullTrainDF.groupby('gender').churn.agg(['mean', 'count'])
GroupDFGender['diff'] = GroupDFGender['mean'] - GlobChurnRate
GroupDFGender['ratio'] = GroupDFGender['mean'] / GlobChurnRate
GroupDFGender

            mean  count      diff     ratio
gender
female  0.276824   2796  0.006856  1.025396
male    0.263214   2838 -0.006755  0.974980

In [56]:
from IPython.display import display

In [57]:
# viewing churn rate for all categorical variables
for c in CategoricalValues:
    print(c.title())
    GroupDF = FullTrainDF.groupby(c).churn.agg(['mean', 'count'])
    GroupDF['diff'] = GroupDF['mean'] - GlobChurnRate
    GroupDF['ratio'] = GroupDF['mean'] / GlobChurnRate
    display(GroupDF)
    print(); print()

Gender

            mean  count      diff     ratio
gender
female  0.276824   2796  0.006856  1.025396
male    0.263214   2838 -0.006755  0.974980

Seniorcitizen

                   mean  count      diff     ratio
seniorcitizen
0              0.242270   4722 -0.027698  0.897403
1              0.413377    912  0.143409  1.531208

Partner

             mean  count      diff     ratio
partner
no       0.329809   2932  0.059841  1.221659
yes      0.205033   2702 -0.064935  0.759472

Dependents

                mean  count      diff     ratio
dependents
no          0.313760   3968  0.043792  1.162212
yes         0.165666   1666 -0.104302  0.613651

Phoneservice

                  mean  count      diff     ratio
phoneservice
no            0.241316    547 -0.028652  0.893870
yes           0.273049   5087  0.003081  1.011412

Multiplelines

                      mean  count      diff     ratio
multiplelines
no                0.257407   2700 -0.012561  0.953474
no_phone_service  0.241316    547 -0.028652  0.893870
yes               0.290742   2387  0.020773  1.076948

Internetservice

                     mean  count      diff     ratio
internetservice
dsl              0.192347   1934 -0.077621  0.712482
fiber_optic      0.425171   2479  0.155203  1.574895
no               0.077805   1221 -0.192163  0.288201

Onlinesecurity

                         mean  count      diff     ratio
onlinesecurity
no                   0.420921   2801  0.150953  1.559152
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.153226   1612 -0.116742  0.567570

Onlinebackup

                         mean  count      diff     ratio
onlinebackup
no                   0.404323   2498  0.134355  1.497672
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.217232   1915 -0.052736  0.804660

Deviceprotection

                         mean  count      diff     ratio
deviceprotection
no                   0.395875   2473  0.125907  1.466379
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.230412   1940 -0.039556  0.853480

Techsupport

                         mean  count      diff     ratio
techsupport
no                   0.418914   2781  0.148946  1.551717
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.159926   1632 -0.110042  0.592390

Streamingtv

                         mean  count      diff     ratio
streamingtv
no                   0.342832   2246  0.072864  1.269897
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.302723   2167  0.032755  1.121328

Streamingmovies

                         mean  count      diff     ratio
streamingmovies
no                   0.338906   2213  0.068938  1.255358
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.307273   2200  0.037305  1.138182

Contract

                    mean  count      diff     ratio
contract
month-to-month  0.431701   3104  0.161733  1.599082
one_year        0.120573   1186 -0.149395  0.446621
two_year        0.028274   1344 -0.241694  0.104730

Paperlessbilling

                      mean  count      diff     ratio
paperlessbilling
no                0.172071   2313 -0.097897  0.637375
yes               0.338151   3321  0.068183  1.252560

Paymentmethod

                               mean  count      diff     ratio
paymentmethod
bank_transfer_(automatic)  0.168171   1219 -0.101797  0.622928
credit_card_(automatic)    0.164339   1217 -0.105630  0.608733
electronic_check           0.455890   1893  0.185922  1.688682
mailed_check               0.193870   1305 -0.076098  0.718121

## Feature importance: Mutual importance
Mutual importance tells us how much we can learn about one variable if we know the value of another variable

In [71]:
from sklearn.metrics import mutual_info_score

In [62]:
print(CategoricalValues)

['gender', 'seniorcitizen', 'partner', 'dependents', 'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod']

In [64]:
mutual_info_score(FullTrainDF.dependents, FullTrainDF.churn)

np.float64(0.012345815445534689)

In [82]:
# function to apply mutual_info_score to all categorical values in the dataset
def MIS(cols: pd.Series) -> float:
    return mutual_info_score(cols, FullTrainDF.churn)

In [83]:
# view the mutual_info_score for all the columns
FullTrainDF[CategoricalValues].apply(MIS).sort_values(ascending=False)

contract            0.098320
onlinesecurity      0.063085
techsupport         0.061032
internetservice     0.055868
onlinebackup        0.046923
deviceprotection    0.043453
paymentmethod       0.043210
streamingtv         0.031853
streamingmovies     0.031581
paperlessbilling    0.017589
dependents          0.012346
partner             0.009968
seniorcitizen       0.009410
multiplelines       0.000857
phoneservice        0.000229
gender              0.000117
dtype: float64